// Color
$backgroundDark: #1e1e1e;
$lightenBackgroundDark: lighten($backgroundDark, 10%);

$regularColor: #f2eed4;
$darkenRegularColor: darken($regularColor, 10%);
$brown: #3F2C09;
$lightenBrown: lighten($brown, 10%);
$softBrown: #F5DEB3;
$creamyWhite: #F9F8EF;
$lightenBackgroundDark: lighten($backgroundDark, 10%);
$red: #C30001;
$lightenRed: lighten($red, 10%);


// Text
$light-text-color: $regularColor;

@mixin informationText() {
  @include regularText(20px);
  color: $brown;
  z-index: 100;
  position:relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 20px;
}
