// Bourbon
@import "bourbon/bourbon";

// Reset
@import "reset";

// Fonts
@import "fonts";

// Variables
@import "variables";

// Body
html, body {
	width: 100%;
  overflow: hidden;

	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			 -ms-font-smoothing: antialiased;
					 font-smoothing: antialiased;
}

body {
	color: #000;
	font-size: 12px;
	@include fontReg();

  main {
      height: 100vh;
      width: 100vw;

      section {
        height: 100%;
        width: 100%;
      }
  }
}

// Common
@import "common/components";

@import "common/loader";
@import "common/header";
@import "common/footer";

// Views
@import "views/common";
@import "views/home";
@import "views/cutWheat";
@import "views/waterWheat";
@import "views/crushWheat";
@import "views/mixIngredients";
