#crushWheat{
  background: $creamyWhite;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .information{
    @include regularText(20px);
    color: $brown;
    z-index: 100;
    position:relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 20px;
  }

  .start-crush-wheat{
    position: relative;
    z-index: 100;
    outline:none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: $red;
    border: none;
    @include regularText(20px);
    color: $regularColor;
    border: 3px solid lightgrey;
    transition: all 0.2s ease;

    &:hover{
      background: $lightenRed;
      cursor: pointer;
    }
  }

  #next-button {
    @include regularText(18px);

    height: 50px;
    padding: 5px;
    background: transparent;
    position:relative;
    z-index: 100;
    border: 2px solid $brown;

    margin-top: 10px;
    padding: 20px 70px;
    line-height: 10px;
    display: none;
    color: $brown;
    transition: all 0.4s ease;

    &:hover{
      background: $brown;
      color: $creamyWhite;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background: $lightenBackgroundDark;
    }

  }

  #reload-crush-wheat{
    @include regularText(15px);
    border:none;
    outline: none;
    background: none;
    position: relative;
    z-index: 100;
    display: none;
    top: 15px;
    text-align: center;
    color: $lightenBrown;
    text-decoration: none;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover{
      color: $brown;
    }
  }


  #animation-crush-wheat{
    z-index: 50;
    width: 100%;
    height: 100%;
    position:absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 50;
  }

}
