#home{
  background: $backgroundDark;
  border: 23px $regularColor solid;

  box-sizing: border-box;
  overflow: hidden;

  text-align: center;

  &:before {
    content: '';
    height: 100%;
    display:inline-block;

    vertical-align: middle;
  }

  #content {
    margin: auto;

    display: inline-block;
    text-align: center;

    vertical-align: middle;

    #logo {
      img {
        width: 235px;
      }
    }

    #text {
      @include regularText();
    }

    #start-button {
      @include regularText(18px);
      display:block;

      height: 50px;
      padding: 5px;

      background: transparent;
      text-decoration: none;

      border: 2px solid $regularColor;

      margin-top: 20px;
      padding: 5px 70px;
      line-height: 35px;

      cursor: pointer;
      transition: .6s;

      &:hover {
        background-color: $regularColor;
        color: $backgroundDark;
      }

      &:focus {
        outline: none;
      }

      &:active {
        background: $darkenRegularColor;
        transition: none;
      }

    }
  }
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
