#waterWheat, #warmWheat{
  background: $creamyWhite;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .information{
    @include informationText();
  }

  .scroll-text {
    margin-bottom: 15px;
    margin-top: 15px;
    display: none;
    @include regularText(15px);
    color: $brown;
    position: relative;
    z-index: 100;
  }


  #scroll-progress {
    z-index: 99;
    width: 50px;
    height: 100px;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;

    background: $darkenRegularColor;

    display: none;

    #progress-bar {
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      background: $lightenBackgroundDark;
    }

  }

  #reload-water-wheat{
    @include regularText(15px);
    border:none;
    outline: none;
    background: none;
    position: relative;
    z-index: 100;
    display: none;
    top: 15px;
    text-align: center;
    color: $lightenBrown;
    text-decoration: none;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover{
      color: $brown;
    }
  }


  #animation-water-wheat, #animation-warm-wheat{
    z-index: 50;
    width: 100%;
    height: 100%;
    position:absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 50;
  }

}

#warmWheat{

  #next-button {
    @include regularText(18px);

    height: 50px;
    padding: 5px;
    background: transparent;
    position:relative;
    z-index: 100;
    border: 2px solid $brown;

    margin-top: 10px;
    padding: 20px 70px;
    line-height: 10px;
    display: none;
    color: $brown;
    transition: all 0.4s ease;

    &:hover{
      background: $brown;
      color: $creamyWhite;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background: $lightenBackgroundDark;
    }

  }
}
