<section id="beer">
    <p class="information">
        Et voilà, notre bière est mise en bouteille. On peut éventuellement remettre de la levure juste avant la mise en bouteille pour créer plus de bulles.
    </p>

    <button type="button" name="start" id="next-button">
        Retour au début
    </button>
    <br/>
    <button id="reload-beer" href="#">> Ou recommence ! <</button>

    <canvas id="animation-beer"></canvas>
</section>