<section id="crushWheat">

    <p class="information">
        The seeds are then crushed
    </p>

    <button class="start-crush-wheat">PUSH</button>

    <button type="button" name="start" id="next-button">
        Next step
    </button>
    <br/>
    <button id="reload-crush-wheat" href="#">> Or do it again ! <</button>

    <canvas id="animation-crush-wheat"></canvas>


</section>
