<section id="crushWheat">

    <p class="information">
        Le malt est brassé avec de l’eau de source chaude, puis dissout. C’est le brassage.
    </p>

    <button class="start-crush-wheat">Appuie</button>

    <button type="button" name="start" id="next-button">
        Etape suivante
    </button>
    <br/>
    <button id="reload-crush-wheat" href="#">> Ou recommence ! <</button>

    <canvas id="animation-crush-wheat"></canvas>


</section>
