<section id="cutWheat">

        <p class="information">
            The main element in beer is barley, which is a similar seed to wheat
        </p>

        <input type="range" class="range-interaction" value="0" max="179" min="0" step="1"/><br/>
        <span class="instructions-cut-wheat">Drag to cut</span>
        <button type="button" name="start" id="next-button">
            Next step
        </button>

        <canvas id="animation-cut-wheat"></canvas>


</section>