<section id="cutWheat">

        <p class="information">
            Après l’eau, l’ingrédient principal de la bière est le malt, céréale germée à partir de l’orge. Les grains sont récoltés avant d’être conditionnés.
        </p>

        <input type="range" class="range-interaction" value="0" max="179" min="0" step="1"/><br/>
        <span class="instructions-cut-wheat">Drag pour couper</span>
        <button type="button" name="start" id="next-button">
            Etape suivante
        </button>
        <br/>
        <button id="reload-cut-wheat" href="#">> Ou recommence ! <</button>

        <canvas id="animation-cut-wheat"></canvas>


</section>