<section id="fermentation">
    <p class="information">
        La fermentation est une étape cruciale. Les sucres sont transformés en alcool grâce aux levures. Ensuite du CO2 est injecté pour former les bulles.
    </p>

    <button type="button" name="start" id="next-button">
        Etape suivante
    </button>
    <br/>
    <button id="reload-fermentation" href="#">> Ou recommence ! <</button>

    <canvas id="animation-fermentation"></canvas>

</section>
