<section id="mixIngredients">

    <p class="information">
        L’eau doit être de très bonne qualité car elle représente 80 à 90% de la boisson.
    </p>

    <p class="instructions-mix-ingredients">Tire pour verser les ingrédients</p>
    <input type="range" class="range-interaction" value="0" max="10" min="0" step="1"/><br/>
    <button type="button" name="start" id="next-button">
       Etape suivante
    </button>
    <br/>
    <button id="reload-mix-ingredients" href="#">> Or do it again ! <</button>

    <canvas id="animation-mix-ingredients"></canvas>


</section>