<section id="mixIngredients">

    <p class="information">
        First, water is added to the mix
    </p>

    <p class="instructions-mix-ingredients">Pull to pour the ingredients</p>
    <input type="range" class="range-interaction" value="0" max="10" min="0" step="1"/><br/>
    <button type="button" name="start" id="next-button">
        Next step
    </button>
    <br/>
    <button id="reload-mix-ingredients" href="#">> Or do it again ! <</button>

    <canvas id="animation-mix-ingredients"></canvas>


</section>