<section id="warmWheat">

        <p class="information">
            Le malt est chauffé afin de libérer les enzymes. L’arôme et la couleur de la bière dépend de la température et de la durée de séchage.
        </p>

        <button type="button" name="start" id="next-button">
            Etape suivante
        </button>
        <br/>
        <button id="reload-water-wheat" href="#">> Ou recommence ! <</button>

        <canvas id="animation-warm-wheat"></canvas>


</section>
