<section id="waterWheat">
        <button id="reload-water-wheat" href="#">> Or do it again ! <</button>

        <div id="scroll-progress">
            <div id="progress-bar">

            </div>
        </div>

        <canvas id="animation-water-wheat"></canvas>


</section>
