<section id="waterWheat">
        

        <p class="information">
            Les grains sont nettoyés et trempés dans l’eau avant d’entamer l’étape de germination pour se transformer en malt.
        </p>
        <p class="scroll-text">
            Scroll vers le haut pour amener la chaleur !
        </p>
        <button id="reload-water-wheat" href="#">> Ou recommence ! <</button>
        <div id="scroll-progress">
            <div id="progress-bar">

            </div>
        </div>

        <canvas id="animation-water-wheat"></canvas>


</section>
