<section id="waterWheat">

        <p class="information">
            The main element in beer is barley, which is a similar seed to wheat
        </p>

        <button type="button" name="start" id="next-button">
            Next step
        </button>
        <br/>
        <button id="reload-water-wheat" href="#">> Or do it again ! <</button>

        <canvas id="animation-water-wheat"></canvas>


</section>
