<section id="waterWheat">
        <p class="scroll-text">
          Scroll up to heat the container up!!
        </p>

        <div id="scroll-progress">
            <div id="progress-bar">

            </div>
        </div>

        <canvas id="animation-water-wheat"></canvas>


</section>
